<mat-toolbar color="primary">
  <mat-toolbar-row>
    <app-theme-switch></app-theme-switch>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <div class="header_emblems">
      <img class="header_logo" src="https://www.clipartmax.com/png/full/237-2372176_weather-app-weather-app-logo.png" alt="weather logo">
      <span class="header_title">Weather App</span>
    </div>
    <div>
      <button mat-flat-button>Home</button>
      <button mat-flat-button>Favorites</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
